/*
  Layout

  Styles for managing the structural hierarchy of the site.
  Hydeout features the large colored sidebar from Hyde that houses the
  site name, intro, and "footer" content. Sidebar is on top of content on
  mobile and expands into sidebar on larger width displays.

  Sidebar CSS assumes HTML looks like this for post pages:

    body
    > #sidebar
      > header (primary sidebar content -- i.e. title)
        > h1 (home page only, otherwise div or span)
      > secondary nav content we may want to hide on certain pages
    > .container
      > h1 (non-home page)
      > .content

  Basic approach is to color in body, make sidebar background transparent,
  and then fill in the .container or .content elements depending on how far
  we want the sidebar or header to stretch.
*/

body {
  color: $sidebar-text-color;
  
}

#sidebar {
  padding: $section-spacing;
  min-height: 100vh;
  background-color: $sidebar-bg-color;

  .site-title {
    font-family: "Abril Fatface", serif;
    font-weight: normal;
    font-size: $large-font-size;
    margin-top: 0;
    margin-bottom: $heading-spacing;

    .back-arrow { margin-right: 0.5rem; }
  }
}


.content {
  background: $body-bg;
  font-family: "DINNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: $body-color;
  font-size: 16px;
  padding: $section-spacing;

  a {
    text-decoration: none;
  }

  a:hover {
    color: #e85a52;
  }

  h3 {
    font-size: 24px;
    font-weight: 350;
    line-height: 33px;
    padding-bottom: 10px;
  }

  li {
    display: flex;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;

    .post-banner {
      width: 30%;
      padding-right: 10px;
    }

    .post-content {
      width: 70%;
      padding-left: 10px;

      h4 {
        text-transform: uppercase;
        margin-top: 0px;
      }
    }
  }

  .contact-form {
    width: 60%;

    input {
      width: 45%;
      margin-right: 2%;
      margin-bottom: 20px;
      height: 34px;
      padding: 0px 10px;
      background: #FFF;
      font-family: "DINNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 1px solid #CCC;
      border-radius: 0px;
      font-size: 13px;
      line-height: 34px;

    }

    textarea {
      width: 93%;
      background: #FFF;
      font-family: "DINNextLTPro-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
      border: 1px solid #CCC;
      font-size: 13px;
    }

    select {
      width: 69.5%;
      margin-bottom: 20px;
    }

    button {
      height: 38px;
      margin: 20px 30px 0px 0px;
      padding: 0px 30px;
      border-radius: 0px;
      background: #4b81d4;
      border: 0px;
      font-family: "DINNextLTPro-Bold", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 16px;
      line-height: 38px;
      color: #FFF;
      text-transform: uppercase;
      cursor: pointer;
    }
  }

  .contact-info {
    width: 40%;
  }
}



/* -----------------------------------------------------------
  Mobile view
----------------------------------------------------------- */

// Hide secondary nav content in sidebar
// Hide lead paragraph in sidebar
#sidebar {
  header ~ *, header ~ nav, p.lead {
    display: block;
  }
}

// Make header elements blend into sidebar / background
.container > header {
  color: $sidebar-title-color;
  background: transparent;
  margin: ($heading-spacing - $section-spacing)
          $section-spacing
          $section-spacing;

  h1, h2 {
    color: inherit;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


/* -----------------------------------------------------------
  Mobile view for home page)
----------------------------------------------------------- */

.home #sidebar {

  // Center sidebar content
  text-align: center;

  // Bigger title
  .site-title {
    font-size: 3.25rem;
  }

  // Show secondary nav content + lead
  header ~ *, p.lead {
    display: block;
  }

  // Slightly more bottom padding to compensate for heading not match 100% of
  // line-height on top
  > *:last-child {
    margin-bottom: 0.5rem;
  }
}


/* -----------------------------------------------------------
  Tablet / Desktop view
----------------------------------------------------------- */

@media (min-width: $large-breakpoint) {
  body {
    
    -webkit-overflow-scrolling: touch;
    > * {
      overflow-y: auto; 
      -webkit-overflow-scrolling: touch;
    }
  }

  .home {
      background: url(../img/home-bg.jpg) right bottom no-repeat;
      background-size: cover;
    main {
      width: 75%;
      vertical-align: top;
      margin-left: -5px;
      display: inline-block;
      
      height: 100vh;
      .content {
        
        color: #FFF !important;
        line-height: 42px;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.75);
        text-transform: uppercase;
        text-align: center;
        background: rgba(255,255,255, 0.001);

        h1 {
          font-size: 136px;
          color: #FFF !important;
          line-height: 100px;
        }

        h2 {
          font-size: 60px;
          color: #FFF !important;
        }

        h3 {
          font-size: 42px;
          color: #FFF !important;
        }
      }
    }
  }

  /* Undo mobile CSS */

  #sidebar, .home #sidebar {
    width: $sidebar-width;
    display: inline-block;
    text-align: left;

    > *:last-child {
      margin-bottom: 0;
    }
  }

  #sidebar {
    .site-title {
      font-size: 3.25rem;
      .back-arrow { display: none; }
    }

    p.lead, header ~ * {
      display: block;
    }

    header a {
      border-bottom: 0px ;
    }

    h1, p {
      font-size: 13px;
      color: #fff;
      padding-top: 15px;
    }

    .sidebar-footer {
      display: flex !important;

      img {
        display: inline-block;
      }

      h1 {
        display: inline-block;
        padding-top: 7px;
        padding-left: 30px;
        vertical-align: top;
      }
    }
    
  }

  .index #sidebar { margin-bottom: 0; }

  // Make entire container background white to contrast against sidebar
  .container {
    width: 74.5%;
    height: 100vh;
    display: inline-block;
    vertical-align: top;
    color: $body-color;
    padding: $section-spacing * 2
             $section-spacing
             0;
    > header {
      color: $heading-color;
      margin: 0;
      h1, h2 {
        color: inherit;

        &:last-child {
          margin-bottom: $heading-spacing;
        }
      }
    }

    > * {
      padding: 0;
    }
  }
}


/* -----------------------------------------------------------
  Sidebar links + nav
----------------------------------------------------------- */

#sidebar a {
  color: $sidebar-link-color;
  display: block;
  padding: 10px 0px;
  border-bottom: 2px solid #FFF;
  font-size: 13px;
  line-height: 19px;
  color: #FFF;

  svg {
    fill: $sidebar-icon-color;
  }

  &:hover, &:focus, &.active {
    color: #e85a52;
    svg { fill: $sidebar-icon-color; }
  }

  &:hover, &:focus {
    text-decoration: none;
    color: #e85a52;
    &.icon {
      text-decoration: none;
    }
  }

  &.active {
    font-weight: bold;
  }
}

#sidebar .site-title {
  color: $sidebar-title-color;
  a { color: inherit; }
}


#sidebar-icon-links {
  max-width: 100%;
  justify-content: center;
  margin-top: 1rem;

  @media (min-width: $large-breakpoint) {
    margin-left: -0.25em;

  }
}

#sidebar nav > * {
  display: block;
  line-height: 1.75;
}

#sidebar nav > .icon {
  font-size: 1.5rem;
  display: inline-block;
  margin: 0 0.25em;
}


/* -----------------------------------------------------------
  Sticky sidebar

  Set $sidebar-stick variable to affix sidebar contents to the
  bottom of the sidebar in tablets and up.
----------------------------------------------------------- */


/* -----------------------------------------------------------
  Reverse layout

  Flip the orientation of the page by placing the `#sidebar`
  on the right.
----------------------------------------------------------- */

@if $layout-reverse {
  @media (min-width: $large-breakpoint) {
    .container {
      order: -1;
    }
  }
}

/* footer */

footer {
  background: black;
  margin-top: -10px;
  padding: 20px;
  display: flex;

  p {
    font-size: 13px;
  }

  .copyright {
    width: 30%;
  }

  .address {
    width: 20%;
  }

  .contact {
    width: 20%;
  }

  .nav-menu {
    width: 50%;
    text-align: right;
  }
}
