---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  <div style="display: flex;">
    <div class="contact-form">
    	<form accept-charset="UTF-8" action="https://formkeep.com/f/inquiries@lgrci.com" method="POST">
        <label>I'm interested in...</label>
        <select name="interest">
          <option>----</option>
          <option value="Becoming an Investor">Becoming an Investor</option>
          <option value="Development Opportunities">Development Opportunities</option>
          <option value="Learning more about LGRC">Learning more about LGRC</option>
        </select>
        <br>
        <input type="text" name="name" placeholder="First Name">
        <input type="text" name="name" placeholder="Last Name">

        <br>
        <input type="email" name="email" placeholder="Email">
        <input type="phone" name="name" placeholder="Phone Number">
        <br>
        <textarea placeholder="Your Message" rows="10"></textarea>
        <br>
        <input type="hidden" name="utf8" value="✓">
        <div>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="contact-info">
      1126 Main<br>
      Evanston, IL 60202<br>
      <a>312.834.3690</a>
      <br>
      <br>
      <a>inquiries@lgrci.com</a>
    </div>
  </div>
</div>


